*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #fff;
}
.part{
    width: 100%;
    height: 100vh;
    background: #000;
}

.pod-left,.pod-right,.pod-top,.pod-bot{
    width: 477px;
    height: 631px;
}

.pod-left,.pod-right{
    position: fixed;
    right: 10%;
    top: 50%;
    transform: translateY(-50%);
    z-index: 2;
}

.sec{
      position: relative;
}

.pod-top{
    position: absolute;
    right: 10%;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
}

.pod-bot{
    position: absolute;
    right: 10%;
    top: 50%;
    transform: translateY(-50%);
    z-index: 3;
}

/* 点缀文字的部分 */
.des{
    width: 40%;
    position: absolute;
    left: 10%;
    top: 50%;
    transform: translateY(-50%);
}

.des h1{
    font-size: 64px;
    line-height: 1.2;
    padding-bottom: 80px;
}
.des p{
    font-weight: 200;
    line-height: 1.8;
}
/* 点缀文字的部分 */

.data{
    width: 40%;
    position: absolute;
    left: 10%;
    top: 45%;
    transform: translateY(-50%);
}
.item-list{
    display: flex;
}
.item-list h3{
    font-size: 28px;
    padding: 10px 0 10px 0;
}
.item span{
    font-size: 50px;
}
.item p{
    width: 80%;
    font-weight: 200;
}
.con{
     font-size: 64px;
    padding-bottom: 80px;
}
 /* 点缀文字的部分 */
 